@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ugliest Place on the Net</h1>
    <p class="lead">Welcome to Olive Chat</p>
   
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>We are</h2>
        <p>
         Twitter's Hideous Cousin
        </p>
       </div>
   
    <div class="col-md-4">
        <h2>Get more</h2>
        <p>from anywhere else</p>
        </div>
       
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>By Circut City</p>
    </div>
</div>
